<div class="modal-overlay">
  <div class="modal-content" [@slideIn]="'in'">
    
    <h2 class="modal-title">Editar Item</h2>
    <p class="modal-subtitle">Atualize as informações do item do cardápio</p>
    
    <form (ngSubmit)="onSubmit()">
      
      <div class="image-preview-container">
          <img [src]="editForm.foto || 'placeholder.jpg'" alt="Imagem do Item" class="item-image-preview">
      </div>

     <div class="form-group"> <label for="imagem">URL ou Arquivo de Imagem</label> <div class="image-input-container"> <input type="text" id="imagem" name="imagem" placeholder="URL da imagem" [(ngModel)]="editForm.foto" name="foto"> <input type="file" #fileInput hidden (change)="onFileSelected($event)" accept="image/png"> <span class="upload-icon" (click)="fileInput.click()"> 📎 </span> </div> </div>

      <div class="form-group">
        <label>Nome do Item *</label>
        <input type="text" [(ngModel)]="editForm.nome" name="nome" required>
      </div>

      <div class="form-row">
          <div class="form-group">
              <label>Categoria do Item *</label>
              <select [(ngModel)]="editForm.categoria" name="categoria" required>
                  <option value="Pizza">Pizza</option>
                  <option value="Doce">Doce</option>
                  <option value="Bebida">Bebida</option>
              </select>
          </div>
          <div class="form-group">
              <label>Preço *</label>
              <input type="text" [(ngModel)]="editForm.preco" name="preco" required>
          </div>
      </div>

      <div class="form-group">
        <label>Descrição *</label>
        <textarea [(ngModel)]="editForm.descricao" name="descricao" rows="4" required></textarea>
      </div>

      <div class="modal-actions">
        <button type="button" class="btn-cancel" (click)="onCancel()">Cancelar</button>
        <button type="submit" class="btn-primary" [disabled]="!editForm.nome || !editForm.preco || !editForm.categoria">Salvar</button>
      </div>
    </form>
  </div>
</div>